<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net48" />
  <package id="NUnit" version="4.4.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.8" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>